<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiatian.mallorder.mapper.OrderItemMapper">

    <resultMap id="BaseResultMap" type="com.xiatian.mallorder.entity.OrderItem">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="orderId" column="order_id" jdbcType="BIGINT"/>
            <result property="orderSn" column="order_sn" jdbcType="CHAR"/>
            <result property="spuId" column="spu_id" jdbcType="BIGINT"/>
            <result property="spuName" column="spu_name" jdbcType="VARCHAR"/>
            <result property="spuPic" column="spu_pic" jdbcType="VARCHAR"/>
            <result property="spuBrand" column="spu_brand" jdbcType="VARCHAR"/>
            <result property="categoryId" column="category_id" jdbcType="BIGINT"/>
            <result property="skuId" column="sku_id" jdbcType="BIGINT"/>
            <result property="skuName" column="sku_name" jdbcType="VARCHAR"/>
            <result property="skuPic" column="sku_pic" jdbcType="VARCHAR"/>
            <result property="skuPrice" column="sku_price" jdbcType="DECIMAL"/>
            <result property="skuQuantity" column="sku_quantity" jdbcType="INTEGER"/>
            <result property="skuAttrsVals" column="sku_attrs_vals" jdbcType="VARCHAR"/>
            <result property="promotionAmount" column="promotion_amount" jdbcType="DECIMAL"/>
            <result property="couponAmount" column="coupon_amount" jdbcType="DECIMAL"/>
            <result property="integrationAmount" column="integration_amount" jdbcType="DECIMAL"/>
            <result property="realAmount" column="real_amount" jdbcType="DECIMAL"/>
            <result property="giftIntegration" column="gift_integration" jdbcType="INTEGER"/>
            <result property="giftGrowth" column="gift_growth" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_id,order_sn,
        spu_id,spu_name,spu_pic,
        spu_brand,category_id,sku_id,
        sku_name,sku_pic,sku_price,
        sku_quantity,sku_attrs_vals,promotion_amount,
        coupon_amount,integration_amount,real_amount,
        gift_integration,gift_growth
    </sql>
</mapper>
