<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiatian.mallorder.mapper.PaymentInfoMapper">

    <resultMap id="BaseResultMap" type="com.xiatian.mallorder.entity.PaymentInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="orderSn" column="order_sn" jdbcType="CHAR"/>
            <result property="orderId" column="order_id" jdbcType="BIGINT"/>
            <result property="alipayTradeNo" column="alipay_trade_no" jdbcType="VARCHAR"/>
            <result property="totalAmount" column="total_amount" jdbcType="DECIMAL"/>
            <result property="subject" column="subject" jdbcType="VARCHAR"/>
            <result property="paymentStatus" column="payment_status" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="confirmTime" column="confirm_time" jdbcType="TIMESTAMP"/>
            <result property="callbackContent" column="callback_content" jdbcType="VARCHAR"/>
            <result property="callbackTime" column="callback_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_sn,order_id,
        alipay_trade_no,total_amount,subject,
        payment_status,create_time,confirm_time,
        callback_content,callback_time
    </sql>
</mapper>
