<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiatian.mallcoupon.mapper.SpuBoundsMapper">

    <resultMap id="BaseResultMap" type="com.xiatian.mallcoupon.entity.SpuBounds">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="spuId" column="spu_id" jdbcType="BIGINT"/>
            <result property="growBounds" column="grow_bounds" jdbcType="DECIMAL"/>
            <result property="buyBounds" column="buy_bounds" jdbcType="DECIMAL"/>
            <result property="work" column="work" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,spu_id,grow_bounds,
        buy_bounds,work
    </sql>
</mapper>
