<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiatian.mallproduct.mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="com.xiatian.mallproduct.entity.Category">
            <id property="catId" column="cat_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="CHAR"/>
            <result property="parentCid" column="parent_cid" jdbcType="BIGINT"/>
            <result property="catLevel" column="cat_level" jdbcType="INTEGER"/>
            <result property="showStatus" column="show_status" jdbcType="TINYINT"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="icon" column="icon" jdbcType="CHAR"/>
            <result property="productUnit" column="product_unit" jdbcType="CHAR"/>
            <result property="productCount" column="product_count" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        cat_id,name,parent_cid,
        cat_level,show_status,sort,
        icon,product_unit,product_count
    </sql>
</mapper>
