<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiatian.mallproduct.mapper.SpuImagesMapper">

    <resultMap id="BaseResultMap" type="com.xiatian.mallproduct.entity.SpuImages">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="spuId" column="spu_id" jdbcType="BIGINT"/>
            <result property="imgName" column="img_name" jdbcType="VARCHAR"/>
            <result property="imgUrl" column="img_url" jdbcType="VARCHAR"/>
            <result property="imgSort" column="img_sort" jdbcType="INTEGER"/>
            <result property="defaultImg" column="default_img" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,spu_id,img_name,
        img_url,img_sort,default_img
    </sql>
</mapper>
