<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiatian.mallmember.mapper.GrowthChangeHistoryMapper">

    <resultMap id="BaseResultMap" type="com.xiatian.mallmember.entity.GrowthChangeHistory">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="memberId" column="member_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="changeCount" column="change_count" jdbcType="INTEGER"/>
            <result property="note" column="note" jdbcType="VARCHAR"/>
            <result property="sourceType" column="source_type" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,member_id,create_time,
        change_count,note,source_type
    </sql>
</mapper>
