<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiatian.mallmember.mapper.MemberStatisticsInfoMapper">

    <resultMap id="BaseResultMap" type="com.xiatian.mallmember.entity.MemberStatisticsInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="memberId" column="member_id" jdbcType="BIGINT"/>
            <result property="consumeAmount" column="consume_amount" jdbcType="DECIMAL"/>
            <result property="couponAmount" column="coupon_amount" jdbcType="DECIMAL"/>
            <result property="orderCount" column="order_count" jdbcType="INTEGER"/>
            <result property="couponCount" column="coupon_count" jdbcType="INTEGER"/>
            <result property="commentCount" column="comment_count" jdbcType="INTEGER"/>
            <result property="returnOrderCount" column="return_order_count" jdbcType="INTEGER"/>
            <result property="loginCount" column="login_count" jdbcType="INTEGER"/>
            <result property="attendCount" column="attend_count" jdbcType="INTEGER"/>
            <result property="fansCount" column="fans_count" jdbcType="INTEGER"/>
            <result property="collectProductCount" column="collect_product_count" jdbcType="INTEGER"/>
            <result property="collectSubjectCount" column="collect_subject_count" jdbcType="INTEGER"/>
            <result property="collectCommentCount" column="collect_comment_count" jdbcType="INTEGER"/>
            <result property="inviteFriendCount" column="invite_friend_count" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,member_id,consume_amount,
        coupon_amount,order_count,coupon_count,
        comment_count,return_order_count,login_count,
        attend_count,fans_count,collect_product_count,
        collect_subject_count,collect_comment_count,invite_friend_count
    </sql>
</mapper>
